html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(99, 138, 126);
}

header {
    background-color: rgba(232, 182, 127, 0.95);
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .left h1 {
    font-family: 'Shadows Into Light';
    font-weight: 400;
    letter-spacing: 3px;
    margin: 10px;
    color: rgb(255, 255, 255);
}

nav .right {
    margin: 10px;
}

nav li {
    display: inline;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Shadows Into Light';
    letter-spacing: 2px;
}

nav li a {
    text-decoration: none;
}

nav li a:visited {
    color: rgb(255, 255, 255);
}

nav li:hover {
    background-color: rgb(137, 76, 74);
}

main {
    overflow: scroll;
    position: relative;
    top: 50px;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 50px;
}

#about h1 {
    font-family: 'Shadows Into Light';
    font-weight: 400px;
    font-size: 3rem;
    letter-spacing: 3px;
    color: rgb(232, 182, 127);
    margin-bottom: 0;
}

#about img {
    max-height: 300px;
    width: auto;
    contain: content;
    clip-path: circle( 50% at 50% 50%);
    border: solid 5px rgb(232, 182, 127);
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

#about p {
    font-family: 'Eina 01';
    font-size: 1.5rem;
    color: rgb(232, 182, 127);
    width: 60%;
    text-align: center;
}